.header-star-wars {
    color: white;
    background-color: black;
    font-family: 'Roboto Mono', monospace;
    font-size: 80px;
    font-weight: 900;
    text-align: center;
}

.button {
    color: white;
    background-color:blue;
    font-size: large;
    font-family: 'Press Start 2P', cursive;
    margin: 20px;
    padding: 25px 15px;
}

#button-div {
    text-align: center;
    background-color: black;
    padding: 20px;
}

.data-styling {
    color:white;
    background-color: black;
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
}

